<template name="MainGameLayout">
    <header>
    </header>
    <main id="main_game_layout" class="pusher main-background-color">
        <div id="side_nav_bar">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">
                        <button>Test</button>
                    </div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </div>
        <div id="main_game_content"></div>
        <div id="status_bar">

        </div>
    </main>
</template>