#main_game_layout #side_nav_bar{
    width: 170px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

}
#main_game_layout #side_nav_bar .collapsible {
    margin: 0;
    box-shadow: none;
    border: none;
}
#main_game_layout #side_nav_bar .collapsible .collapsible-header {
    padding: 0;
}
#main_game_layout #side_nav_bar .collapsible .collapsible-body {
    padding: 10px;
    border: none;
}
#main_game_layout #side_nav_bar button {
    width: 100%;
    height: 40%;
    border-width: 6px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 2rem;
    color: #fff;
}
#main_game_layout #status_bar {
    width: calc(100vw - 170px);
    height: 189px;
    position: fixed;
    bottom: 0;
    right: 0;
}
#main_game_layout #status_bar > .container {
    max-width: 100%;
    height: 150%;
    margin: 0;
    border-radius: 3em;
    border: 6px solid white;
    padding: 2em;
}
#main_game_layout #status_bar .score-container {
    width: 80%;
    min-height: 48px;
    margin-top: 20px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: 1.64rem;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    float: right;
}
#main_game_layout #status_bar .status-btn {
    width: 80%;
    min-height: 40px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: 1.64rem;
    border-radius: 20px;
    background-color: rgb(87,201,185);
    color: white;
    text-align: center;
    float: right;
    cursor: pointer;
}
#main_game_layout #status_bar .status-btn:hover {
    background-color: rgba(87,201,185,0.7);
}
#main_game_layout #status_bar .score-icon {
    height: 60px;
    position: absolute;
}
#main_game_layout #status_bar .user-icon {
    height: 130px;
}
#main_game_layout #main_game_content {
    width: calc(100vw - 170px);
    height: calc(100vh - 162px);
    position: fixed;
    top: 0;
    right: 0;
    background-color: aquamarine;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
#main_game_layout .game-description {
    cursor: pointer;
}