#main_game_layout #side_nav_bar{
    width: 170px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

}
#main_game_layout #side_nav_bar .collapsible {
    margin: 0;
    box-shadow: none;
    border: none;
}
#main_game_layout #side_nav_bar .collapsible .collapsible-header {
    padding: 0;
}
#main_game_layout #side_nav_bar .collapsible .collapsible-body {
    padding: 10px;
    border: none;
}
#main_game_layout #side_nav_bar button {
    width: 100%;
    height: 40%;
    border-width: 6px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 2rem;
    color: #fff;
}
#main_game_layout #status_bar {
    width: calc(100vw - 170px);
    height: 189px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #ff3c50;
}
#main_game_layout #main_game_content {
    width: calc(100vw - 170px);
    height: calc(100vh - 189px);
    position: fixed;
    top: 0;
    right: 0;
    background-color: aquamarine;
}