<template name="MainGameLayout">
    <header>
    </header>
    <main id="main_game_layout" class="pusher main-background-color">
        <div id="side_nav_bar" class="main-background-color">
            <ul class="collapsible" data-collapsible="accordion">
                {{#each checkPoint}}
                    <li>
                        <div class="collapsible-header">
                            <button class="{{btnClass}}">{{name}}</button>
                        </div>
                        <div class="collapsible-body"><span>{{description}}</span></div>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div id="main_game_content"></div>
        <div id="status_bar">

        </div>
    </main>
</template>