.main-background-color {
    background-color: aquamarine;
}
.container-purple {
    background-color: rgba(127,99,147,0.6);
    border-color: rgba(167,148,180,0.6);
}
.btn-theme.white {
    background-color: rgb(312,229,214) !important;
    color: rgb(127,99,147) !important;
    border-color: rgb(197,194,206) !important;
}
.blue-btn, .blue-btn:focus {
    background-color: #40BAF4;
    -moz-box-shadow:    inset 0 0 7px #6b6b6b;
    -webkit-box-shadow: inset 0 0 7px #6b6b6b;
    box-shadow:         inset 0 0 7px #6b6b6b;
    border-color: #BADCF8;
}
.blue-btn:hover {
    background-color: #79CFF7;
    border-color: #CFE6FA;
}
.red-btn, .red-btn:focus {
    background-color: #F07575;
    -moz-box-shadow:    inset 0 0 7px #6b6b6b;
    -webkit-box-shadow: inset 0 0 7px #6b6b6b;
    box-shadow:         inset 0 0 7px #6b6b6b;
    border-color: #FBD7D7;
}
.red-btn:hover {
    background-color: #F49E9E;
    border-color: #FCE3E3;
}
.yellow-btn, .yellow-btn:focus {
    background-color: #FDD311;
    -moz-box-shadow:    inset 0 0 7px #6b6b6b;
    -webkit-box-shadow: inset 0 0 7px #6b6b6b;
    box-shadow:         inset 0 0 7px #6b6b6b;
    border-color: #FFFDD3;
}
.yellow-btn:hover {
    background-color: #FEE058;
    border-color: #FFFEE0;
}
.purple-btn, .purple-btn:focus {
    background-color: #BC77EE;
    -moz-box-shadow:    inset 0 0 7px #6b6b6b;
    -webkit-box-shadow: inset 0 0 7px #6b6b6b;
    box-shadow:         inset 0 0 7px #6b6b6b;
    border-color: #E1C3FB;
}
.purple-btn:hover {
    background-color: #D0A0F3;
    border-color: #EAD5FC;
}
.blue-score {
    background-color: rgb(116,206,253);
    border-color: rgb(70,188,252);
}
.yellow-score {
    background-color: rgb(254,218,72);
    border-color: rgb(254,201,49);
}
.red-score {
    background-color: rgb(229,115,116);
    border-color: rgb(202,54,48);
}
.green-score {
    background-color: rgb(183,220,199);
    border-color: rgb(15,118,70);
}