#hawker_content {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#cardSlots {
  background-color: rgba(126,203,180,0.8);
}

#cardPile {
  background-color: rgba(212,164,111,0.8);
}

#cardSlots, #cardPile {
  width: 100%;
  height: calc(162px + 3em);
  border-radius: 5px;
}

/* Individual cards and slots */

#cardSlots div, #cardPile div {
  float: left;
  width: calc(33% - 3em);
  height: 162px;
  border: 2px solid #333;
  margin: 1.5em;
  border-radius: 5px;
  background-size: cover !important;
  background-position: center center !important;
}

#cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

/* "You did it!" message */
#successMessage {
  position: absolute;
  left: 580px;
  top: 250px;
  width: 0;
  height: 0;
  z-index: 100;
  background: #dfd;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  padding: 20px;
}

#hawker_modal {
  z-index: 1004;
}