#before_1950_questions .card.option {
    background-color: rgba(60,60,60,0.5);
}
#before_1950_questions .card.option.correct {
    background-color: rgba(27,84,32,0.7);
}
#before_1950_questions .card.option.incorrect {
    background-color: rgba(183,28,28,0.7);
}
#before_1950_questions .card {
    cursor: pointer;
}
#before_1950_questions .card.option .card-title {
    margin: 0;
}
#before_1950_questions h3 {
    margin: 0 !important;
}